[submodule "SophisticatedStorage"]
	path = SophisticatedStorage
	url = git@github.com:Salandora/SophisticatedStorage.git
[submodule "SophisticatedBackpacks"]
	path = SophisticatedBackpacks
	url = git@github.com:Salandora/SophisticatedBackpacks.git
[submodule "SophisticatedCore"]
	path = SophisticatedCore
	url = git@github.com:Salandora/SophisticatedCore.git
[submodule "SophisticatedStorageInMotion"]
	path = SophisticatedStorageInMotion
	url = git@github.com:Salandora/SophisticatedStorageInMotion.git
[submodule "SophisticatedFabricIntegrations"]
	path = SophisticatedFabricIntegrations
	url = git@github.com:Salandora/SophisticatedFabricIntegrations.git
[submodule "SophisticatedLibrary"]
	path = SophisticatedLibrary
	url = git@github.com:Salandora/SophisticatedLibrary.git